<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="http://127.0.0.1:8000/good_api/human_record/?format=json">Записи на рассмотрение от физических лиц</a>
<a href="http://127.0.0.1:8000/good_api/organization_record/?format=json">Записи на рассмотрение от организаций</a>
<a href="http://127.0.0.1:8000/good_api/need_help_post/?format=json">Посты</a>
<a href="http://127.0.0.1:8000/good_api/report_post/?format=json">Отчеты</a>
<a href="http://127.0.0.1:8000/good_api/respondent/?format=json">Контакты отозвавшихся помочь</a>


</body>
</html>