.home-main
    font-family: $main-font

#home-start
    background: -webkit-linear-gradient(left, #598087 50%, #604656 50%)

#home-start-img
    width: 70vw
    height: 90vh
    margin: 10vh 0% 0% -200px
    pointer-events: none

.img-blur
    -webkit-filter: blur(10px)

#home-buttons
    margin-left: 5%
    margin-top: 18%

.home-btn
    display: block
    font-family: $side-font
    width: 400px
    background: #604656
    font-size: $font-size

.btn-wrapper
    border: 1px solid white
    padding: 4px
    margin-top: 20px

#home-main-title
    font-size: $font-size

.hover-text
    position: absolute
    top: 15%
    left: 60%
    width: 500px
    overflow-wrap: break-word
    font-size: $font-size
    color: white
    font-family: $main-font