.home-main
    font-family: $main-font

#home-start
    background: -webkit-linear-gradient(left, #598087 50%, #604656 50%)

#home-start-img
    width: 70vw
    height: 90vh
    margin: 10vh 0% 0% -200px
    pointer-events: none

#home-buttons
    margin-left: 5%
    margin-top: 18%

.home-btn
    display: block
    font-family: $side-font
    width: 400px
    background: #604656
    font-size: 20pt

.btn-wrapper
    border: 1px solid white
    padding: 4px
    margin-top: 20px

#home-main-title
    font-size: 20pt
