#title-root
    padding-top: 15px
    padding-bottom: 15px
    font-size: 20pt
    font-family: $side-font
    background: $side-background
    border-radius: 0px 0px $news-border-radius $news-border-radius