//base
@import 'base/variables'

//components
@import 'components/header'
@import 'components/footer'
@import 'components/home'
@import 'components/about'

#app
    background: $background

html
    background: $background
    max-width: 100%
    overflow-x: hidden
